In [1]:
import mysql.connector
from mysql.connector import Error

In [2]:
db = mysql.connector.connect(
    host="localhost",user="root",database="hotel_bill",password="r@dha")
cur=db.cursor()

In [3]:

c_name = input("Enter Customer Name: ")

insert_query = f"insert into customer_details(c_name) values('{c_name}')"
cur.execute(insert_query)
db.commit()

In [4]:

print ("-----menu-----")
cur.execute("select * from menu")
menu_items = cur.fetchall()
print("{:3} {:15} {:2}".format('id', 'item_name', 'price'))
for m in menu_items:
         print(f"{m[0]:<3} {m[1]:<15} â‚¹{m[2]}")

-----menu-----
id  item_name       price
1   idli            â‚¹30
2   tea             â‚¹12
3   vada            â‚¹25
4   samosa          â‚¹20
5   pav bhaji       â‚¹45
6   paratha         â‚¹30
7   coffee          â‚¹18
8   dosa            â‚¹35
9   idli            â‚¹30
10  tea             â‚¹12
11  vada            â‚¹25
12  samosa          â‚¹20
13  pav bhaji       â‚¹45
14  paratha         â‚¹30
15  coffee          â‚¹18
16  dosa            â‚¹35

In [5]:

from datetime import datetime
time = datetime.now()
tran_date = time.strftime('%Y%m%d')
str_time = time.strftime('%H%M%S')
cur.execute("select max(cust_id) from customer_details")
cid=cur.fetchone()
ccid=str(cid[0])
# tran_id = f"{cust_id}_{tran_date}{str_time}"
tran_id=ccid+tran_date+str_time

cur.execute(
    "INSERT INTO transaction_details (tran_id, cust_id) VALUES (%s, %s)",
    (tran_id, ccid))

db.commit()

In [20]:

def main():
    t_no = int(input("Enter Table Number: "))
    # cust_id = int(input("Enter Customer ID: "))
    m_id = int(input("Enter Menu ID: "))


    cur.execute(f"SELECT item_name, price FROM menu WHERE id = {m_id}")
    price1 = cur.fetchone()
    db.commit()

    if not price1:
        print("Invalid menu_id")
        return 

    item_name, price = price1
    qunt = int(input(f"Enter quantity of {item_name}: "))
    total_price = price * qunt

    insert_query1 = """
        INSERT INTO order_details (table_no, menu_id, quant, total)
        VALUES (%s, %s, %s, %s)
    """ 
    values = (t_no, m_id, qunt, total_price)

    cur.execute(insert_query1, values)
    db.commit()

    return t_no

while True:
    ask = input("Do you want to take order? (yes / stop): ").lower()

    if ask == "stop":
        print("Order taking stopped.")
        break

    t_no = main()   # take order for each table reques


# main()

Order taking stopped.

In [ ]:

def bill():
    t = input("enter table number to get bill: ")
    cur.execute(" select id as menu_id,m.item_name,sum(od.quant) as quantity, sum(od.total) as total_price from order_details od join menu m on od.menu_id = m.id where od.table_no = %s group by m.id,m.item_name",(t,))
    t1 = cur.fetchall()
    
    if not t1:
        print(f"no order found for table_no{t}.")
        return

    hotel_name = "THE GODAVARI HOTEL"
    current_time = datetime.now().strftime("%d-%m-%Y %I:%M %p")

    print("\n" + "="*50)
    print(f"Hi Sir, Welcome!".center(50))
    print(hotel_name.center(50)) 
    print(f"Date & Time: {current_time}")
    print(f"Table Number: {t_no}")
    print("="*50)
    print(f"{'Menu ID':<8} {'Item Name':<20} {'quantity':>5} {'Total':>10}")
    print("-"*50)

    grand_total = 0.0
    for menu_id, item_name, quantity, total_price in t1:
        quantity= int(quantity)
        total_price = float(total_price)
        grand_total += total_price
        print(f"{menu_id:<8} {item_name:<20} {quantity:>5} {total_price:>10.2f}")

    print("-"*50)
    print(f"{'Grand Total':<35} {grand_total:>10.2f}")
    print("="*50)
    print("Thank you for dining with us!".center(50))
    print("Please visit again ðŸ˜Š".center(50))
    print("="*50)

In [21]:
bill()

==================================================
                 Hi Sir, Welcome!
                THE GODAVARI HOTEL
Date & Time: 04-12-2025 10:24 AM
Table Number: 4
==================================================
Menu ID  Item Name            quantity      Total
--------------------------------------------------
3        vada                     6     150.00
--------------------------------------------------
Grand Total                             150.00
==================================================
          Thank you for dining with us!
               Please visit again ðŸ˜Š
==================================================
no order found for table_nom.